<%- include ("partials/header.ejs") %>
<div>
<form action="/edit-post" method="post" >
    <input value="<%=editTask%>" />
    <button>Edit</button>
</form>
</div>

<%- include ("partials/footer.ejs") %>