<%- include ("partials/header.ejs") %>
<main class="main">
<div class="list-container">
    <div class="header">
        <h2 class="list-header"><%= day %></h2>
        
    </div>
    <form method="post" action="/" id="new-task-form">
        <input class="new-task-input" name="task"  placeholder="Add new task" required/>
        <button  class="add-task-btn">+</button>
    </form>
    <ol class="task-list">
        <% if(locals.tasks) {
            tasks.forEach(task => {%>
                <div class="task-container">
                    <li class="tasks"><%= task %></li>
                    <a class="delete-btn"><i class="fa-solid fa-trash"></i></a>
                    </div>
               
          
            <%});
        }%>

    </ol>
    <div class="footer"> 
        <form method="post" action="/delete">
            <button class="delete-all-btn">Delete All</button>
            </form>
      
        </div>
   
</div>
</main>



<%- include ("partials/footer.ejs") %>