@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", "sans-serif";
}
body {
  color: #313131;
}

.main {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.list-container {
  background: whitesmoke;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  height: 33rem;
  width: 23rem;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.header {
  height: 12%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: #f96060;
}
#new-task-form {
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

#new-task-form button {
  font-size: 32px;
  color: #f96060;
}

.new-task-input {
  width: 85%;
  border-radius: 1.5rem;
  border: none;
  padding: 0.8rem;
  outline: none;
  background: rgb(230, 230, 230);
}

.add-task-btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  background: rgb(230, 230, 230);
}

.task-list {
  display: flex;
  width: 90%;
  height: 50%;
  bottom: 1rem;
  flex-direction: column;

  gap: 1rem;

  overflow: scroll;
}

.task-container {
  display: flex;
  justify-content: space-between;
  gap: 0.3rem;
  border: 1px solid #6074f9;
  border-radius: 0.5rem;
  padding: 0.4rem;
}

.task-list li {
  width: inherit;
  list-style: none;
}

.list-icons {
  display: flex;
  gap: 0.8rem;
}

.delete-btn,
.edit-btn {
  border: none;
  color: #6074f9;
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 1rem;
}

.delete-all-btn {
  border: none;
  background: #6074f9;
  font-weight: 600;
  padding: 0.6rem;
  border-radius: 0.5rem;
  color: rgb(230, 230, 230);
  cursor: pointer;
  text-transform: uppercase;
}

/* Edit-Form Page */

.editForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 80vh;
  width: 100vw;
}

.edit-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.edit-icon {
  color: #f96060;
  font-size: 22px;
}

.editForm h2 {
  color: #f96060;
}

.edit-task-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.edit-task-form input {
  width: 400px;
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
  border: 1px solid #313131;
  outline: none;
}
.edit-task-form button {
  width: 40%;
  padding: 0.4rem 0.4rem;
  border: none;
  border-radius: 0.8rem;
  background-color: #6074f9;
  text-transform: uppercase;
  color: rgb(230, 230, 230);
  font-weight: 600;
}

/* Navigation */

nav {
  display: flex;
  background: #6074f9;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  height: 10vh;
}
.nav-items {
  margin-right: 1.5rem;
  color: #313131;
}

.nav-items a {
  text-decoration: none;
  color: #313131;
  font-weight: 600;
}

.vector-image {
  width: 50%;
  height: 85%;
}

/* Footer */

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
 text-align: center;
}

/* Media Queries */

@media (max-width: 768px) {

  nav {
    justify-content: center;
    gap: 0;
  }

  .vector-image {
    display: none;
  }
}

@media (max-width: 576px) {
.list-container {
  width: 20rem;
  height: 30rem;
}
#footer {
  font-size: 0.85rem;
}
}
